body,
header,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-size: 1.15rem;
  text-align: center;
  box-sizing: border-box;
  font-family: "Overpass", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  list-style-type: none;
  color: #383838;
}

/* Navbar */
header {
  display: flex;
  padding: 15px 0 15px 0;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  background: #b3dee2;
  border-bottom: 5px solid #eee;
}
header .logo {
  padding: 0 15px 0 15px;
}
header .options {
  display: inline-flex;
}
header .options h1 {
  padding: 0 15px 0 15px;
}
/* CHECKPOINT */
/* CHECKPOINT */
.hidden {
  display: none;
}

/* Navbar: Speed Button and Algorithms Button */
.speedList {
  height: 0;
  margin-top: 39px;
  overflow: hidden;
  transition: 250ms ease-in-out;
  background: #b3dee2;
  flex-direction: column;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 5px solid #eee;
  right: 189px;
}
.algList {
  height: 0;
  margin-top: 39px;
  overflow: hidden;
  transition: 250ms ease-in-out;
  background: #b3dee2;
  flex-direction: column;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 5px solid #eee;
  right: 48px;
}
.speedList li h1,
.algList li h1 {
  padding-bottom: 15px;
}
.openSpeedList {
  height: 160px;
}
.openAlgList {
  height: 238px;
}

/* Buttons */
#newButton,
#algButton,
#sortButton,
#speedButton,
#speedListLow,
#speedListMedium,
#speedListHigh,
#speedListOriginal,
#algListShakerSort,
#algListSelectionSort,
#algListInsertionSort,
#algListBubbleSort,
#algListMergesort,
#algListQuicksort {
  cursor: pointer;
  transition: 0.15s;
}
#newButton:hover,
#algButton:hover,
#sortButton:hover,
#speedButton:hover,
#speedListLow:hover,
#speedListMedium:hover,
#speedListHigh:hover,
#speedListOriginal:hover,
#algListShakerSort:hover,
#algListSelectionSort:hover,
#algListInsertionSort:hover,
#algListBubbleSort:hover,
#algListMergesort:hover,
#algListQuicksort:hover {
  color: #eee;
}

.main {
  height: calc(100vh - 59px);
}

/* Tables and bars: */
#tableWrapper1 {
  height: calc(100vh - 250px);
}
#tableWrapper2 {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
table {
  margin: 0 auto;
  border-spacing: 0;
  display: flex;
}
table,
tr td {
  padding: 0;
  border: #fff solid 1px;
}
td {
  border-radius: 3px;
  background-color: #eeeeee;
  width: 4px;
  user-select: none;
}
.sorting {
  background: rgb(228, 87, 87);
  color: rgb(228, 87, 87);
}
.sorted {
  background: #b3dee2;
  color: #b3dee2;
}

/* Container: */
.main #container {
  margin: 20px;
  border-radius: 50px;
  display: inline-flex;
  justify-content: space-between;
}
.main #container #leftSideContainer {
  display: grid;
}
.main #container #leftSideContainer p {
  width: 205px;
}
.main #container #leftSideContainer #algSelected {
  padding: 15px 15px 15px 19px;
  margin: 0px 4px 4px 0px;
  border-radius: 40px 5px 5px 5px;
  background: #b3dee2;
  align-items: center;
  display: flex;
}
.main #container #leftSideContainer #speedSelected {
  padding: 15px 15px 15px 19px;
  margin: 4px 4px 0px 0px;
  border-radius: 5px 5px 5px 40px;
  border-bottom: 5px solid #eee;
  background: #b3dee2;
  align-items: center;
  display: flex;
}
.main #container #rightSideContainer {
  padding: 15px;
  margin: 0px 0px 0px 4px;
  border-radius: 5px 40px 40px 5px;
  border-right: 5px solid #eee;
  border-bottom: 5px solid #eee;
  background: #b3dee2;
  align-items: center;
  display: flex;
}

@media all and (max-width: 878px) {
  #tableWrapper1 {
    height: calc(100vh - 260px);
  }
}
@media all and (max-width: 770px) {
  #tableWrapper1 {
    height: calc(100vh - 280px);
  }
}
@media all and (max-width: 670px) {
  #tableWrapper1 {
    height: calc(100vh - 330px);
  }
}
@media all and (max-width: 580px) {
  #tableWrapper1 {
    height: calc(100vh - 404px);
  }
  .main #container {
    display: inline-block;
    justify-content: space-between;
  }
  .main #container #leftSideContainer p {
    width: inherit;
  }
  .main #container #leftSideContainer #algSelected {
    margin: 0px 0px 4px 0px;
    border-radius: 35px 35px 3px 5px;
    border-right: 5px solid #eee;
  }
  .main #container #leftSideContainer #speedSelected {
    margin: 4px 0px 4px 0px;
    border-radius: 5px 3px 3px 5px;
    border-right: 5px solid #eee;
    border-bottom: none;
  }
  .main #container #rightSideContainer {
    padding: 15px;
    margin: 4px 0px 0px 0px;
    border-radius: 5px 3px 35px 35px;
    border-right: 5px solid #eee;
    border-bottom: 5px solid #eee;
  }
}
@media all and (max-width: 510px) {
  #tableWrapper1 {
    height: calc(100vh - 435px);
  }
}
@media all and (max-width: 491px) {
  .main {
    height: calc(100vh - 83px);
  }
}
@media all and (max-width: 464px) {
  #tableWrapper1 {
    height: calc(100vh - 455px);
  }
}
@media all and (max-width: 444px) {
  header .options {
    display: inline-block;
  }
  .speedList {
    right: 0px;
    margin-top: 4px;
  }
  .algList {
    right: 0px;
    margin-top: 4px;
  }
  .main {
    height: calc(100vh - 131px);
  }
  #tableWrapper1 {
    height: calc(100vh - 530px);
  }
}
@media all and (max-width: 430px) {
  #tableWrapper1 {
    height: calc(100vh - 525px);
  }
}
@media all and (max-width: 364px) {
  #tableWrapper1 {
    height: calc(100vh - 550px);
  }
}
